<a href="https://colab.research.google.com/github/Gobikha/ASSIGNMENTS-DW26/blob/main/Task_02_Mongo_DB_ii)_Telephone_Directory_CRUD_Operation_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Telephone Directory CRUD Operation (MONGO DB)

**Telephone directory:  To Perform CRUD operation using mongodb and python.**

**Perform CRUD operations to manipulate data in MongoDB. Create, retrieve, update, and delete (CRUD)**

# IMPORTING THE LIBRARIES

In [1]:
from pymongo import MongoClient
import json

# CONNECTING THE MONGO DB TO THE PYTHON ENVIRONMENT

In [2]:
gobzi=MongoClient("mongodb://gobziKP:abcdefgh@ac-1a35mea-shard-00-00.q7yujhn.mongodb.net:27017,ac-1a35mea-shard-00-01.q7yujhn.mongodb.net:27017,ac-1a35mea-shard-00-02.q7yujhn.mongodb.net:27017/?ssl=true&replicaSet=atlas-5jydwk-shard-0&authSource=admin&retryWrites=true&w=majority")
print(gobzi.list_database_names())

['Countries', 'School', 'meena', 'sample_airbnb', 'sample_analytics', 'sample_geospatial', 'sample_guides', 'sample_mflix', 'sample_restaurants', 'sample_supplies', 'sample_training', 'sample_weatherdata', 'student_DB', 'admin', 'local']

In [3]:
db=gobzi['telephone_directory']
# Creating a new database in the name of the telephone directory itself.

In [4]:
x=db['details'] 
# In the database we are now creating a collection named details.

# GETTING THE INPUTS FOR THE DIRECTORY

In [11]:
Name = "GOBIKHA" #{type:"string"}
Age = 24 #{type:"slider", min:15, max:80, step:1}
PhoneNo = 9897969594#{type:"integer", max:80}
place = "CHENNAI" # {type:"string"}

In [12]:
Name = "GOBI" #{type:"string"}
Age = 25 #{type:"slider", min:15, max:80, step:1}
PhoneNo = 9897969595 #{type:"integer", max:80}
place = "ITALY"

In [13]:
record={'name':Name,'age' :Age,'phone_no' :PhoneNo,'place' :place}

#CRUD operations (Create, retrieve, update, and delete)

# CREATING OR INSERTING A DATA

In [14]:
x.insert_one(record)
# INSERTING THE RECORD CELL IN TO THE MONGO DB SERVER.

# RETRIVING OR FINDING THE DATA

In [16]:
query01 = x.find()
for i in query01:
  print(i)
# FINDING THE INSERTED RECORD USING THE QUERING IN MONGO DB.

{'_id': ObjectId('63b946d41c290c797f83bea6'), 'name': 'GOBIKHA', 'age': 24, 'phone_no': 9897969594, 'place': 'CHENNAI'}
{'_id': ObjectId('63b9477c1c290c797f83bea7'), 'name': 'GOBI', 'age': 25, 'phone_no': 9897969595, 'place': 'ITALY'}

# UPDATING OR MODIFYING THE DATA

In [21]:
query02 = {'$set': {'email' : 'gobzigraze@hotmail.com'}}
x.update_one( {'name' : 'GOBI'}, query02 )
list(x.find())
# MODIFYING THE QUERY IN MONGO DB.

[{'_id': ObjectId('63b9477c1c290c797f83bea7'),
  'name': 'GOBI',
  'age': '25',
  'phone_no': 9897969595,
  'place': 'ITALY',
  'email': 'gobzigraze@hotmail.com'}]

# DELETING OR REMOVING THE DATA

In [19]:
query03 = {'phone_no': 9897969594}
x.delete_one( query03 )
list(x.find())

[{'_id': ObjectId('63b9477c1c290c797f83bea7'),
  'name': 'GOBI',
  'age': '25',
  'phone_no': 9897969595,
  'place': 'ITALY'}]

THUS THE CRUD OPERATION HAS BEEN DONE IN THE MONGO DB USING THE PYTHON ENVIRONMENT.